---
import BaseLayout from "../layouts/BaseLayout.astro";
import Klikporto from "../components/klikporto.astro";

// Title dan description untuk meta
const titlemeta = "Layanan Proteksi Kebakaran Tangguh-Tentang Kami";
const descriptionmeta =
  "Perlindungan Terbaik Untuk Masa Depan Aset Berharga Anda";
---

<BaseLayout titlemeta={titlemeta} descriptionmeta={descriptionmeta}>
  <section
    class="relative py-16 bg-gradient-to-r from-orange-400 via-yellow-400 to-red-500 overflow-hidden">
    <!-- Animated Background Particles -->
    <div class="absolute inset-0">
      <div
        class="w-80 h-80 bg-gradient-to-r from-yellow-300 via-orange-400 to-red-400 opacity-40 rounded-full blur-2xl absolute -top-10 -left-10 animate-float-slow">
      </div>
      <div
        class="w-64 h-64 bg-gradient-to-r from-orange-300 via-yellow-400 to-red-400 opacity-40 rounded-full blur-2xl absolute top-20 right-0 animate-float-slow">
      </div>
      <div
        class="w-72 h-72 bg-gradient-to-r from-yellow-500 via-orange-300 to-red-600 opacity-40 rounded-full blur-2xl absolute -bottom-20 right-16 animate-float-slow">
      </div>
    </div>

    <!-- Content -->
    <div
      class="relative z-10 container mx-auto px-6 md:px-12 lg:px-16 text-white">
      <!-- Section Header -->
      <div class="text-center mb-16">
        <h2
          class="text-5xl font-bold leading-tight tracking-tight text-shadow-md">
          Produk Kami Yang Luarbiasa
        </h2>
        <p
          class="mt-4 text-lg lg:text-xl max-w-2xl mx-auto opacity-90 leading-relaxed">
          Kami berkomitmen untuk menjaga keselamatan Anda dengan teknologi
          mutakhir dan tim ahli yang berdedikasi tinggi.
        </p>
      </div>
    </div>
  </section>

  <section class="py-12 md:px-52 px-2">
    <h2 class="text-center text-2xl mb-2 font-bold leading-8">
      Lihat Lebih Dekat Dengan Produk Kami
    </h2>
    <div class="container mx-auto px-4 md:px-8">
      <!-- Section for Cards 5, 6, 7 -->
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-10 my-10">
        <!-- Card 5 -->

        <div
          class="relative group shadow-lg hover:shadow-2xl transition-shadow duration-300">
          <a href="/produk/firesprinkler">
            <img
              src="/logo page rumah api/firesplink.webp"
              alt="Fire Sprinkler"
              class="object-cover w-full h-48 rounded-lg transition-transform duration-300 group-hover:scale-105"
            />
            <div
              class="absolute inset-0 bg-gradient-to-t from-black opacity-50 rounded-lg">
            </div>
            <div
              class="absolute bottom-4 left-4 text-white font-bold text-lg transition-all duration-300 group-hover:bottom-0">
              Fire Sprinkler
            </div>
          </a>
        </div>

        <!-- Card 6 -->
        <div
          class="relative group shadow-lg hover:shadow-2xl transition-shadow duration-300">
          <a href="/produk/firesystem">
            <img
              src="/logo page rumah api/fire system.webp"
              alt="Fire System"
              class="object-cover w-full h-48 rounded-lg transition-transform duration-300 group-hover:scale-105"
            />
            <div
              class="absolute inset-0 bg-gradient-to-t from-black opacity-50 rounded-lg">
            </div>
            <div
              class="absolute bottom-4 left-4 text-white font-bold text-lg transition-all duration-300 group-hover:bottom-0">
              Fire System
            </div>
          </a>
        </div>

        <!-- Fire Door -->
        <div
          class="relative group shadow-lg hover:shadow-2xl transition-shadow duration-300">
          <img
            src="/logo page rumah api/firedoor.webp"
            alt="Fire Door"
            class="object-cover w-full h-48 rounded-lg transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute inset-0 bg-gradient-to-t from-black opacity-50 rounded-lg">
          </div>
          <div
            class="absolute bottom-4 left-4 text-white font-bold text-lg transition-all duration-300 group-hover:bottom-0">
            Fire Door
          </div>
        </div>
      </div>

      <!-- Section for Cards 1, 2, 3, 4 -->
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
        <!-- Card 1 -->
        <div
          class="relative group shadow-lg hover:shadow-2xl transition-shadow duration-300">
          <a href="/produk/apar">
            <img
              src="/logo page rumah api/1.fireexhaus.webp"
              alt="Fire Extinguisher"
              class="object-cover w-full h-48 rounded-lg transition-transform duration-300 group-hover:scale-105"
            />
            <div
              class="absolute inset-0 bg-gradient-to-t from-black opacity-50 rounded-lg">
            </div>
            <div
              class="absolute bottom-4 left-4 text-white font-bold text-lg transition-all duration-300 group-hover:bottom-0">
              Fire Extinguisher
            </div>
          </a>
        </div>

        <!-- Fire Alarm -->
        <div
          class="relative group shadow-lg hover:shadow-2xl transition-shadow duration-300">
          <a href="/produk/firealarm">
            <img
              src="/logo page rumah api/fire alarm.webp"
              alt="Fire Alarm"
              class="object-cover w-full h-48 rounded-lg transition-transform duration-300 group-hover:scale-105"
            />
            <div
              class="absolute inset-0 bg-gradient-to-t from-black opacity-50 rounded-lg">
            </div>
            <div
              class="absolute bottom-4 left-4 text-white font-bold text-lg transition-all duration-300 group-hover:bottom-0">
              Fire Alarm
            </div>
          </a>
        </div>

        <!-- Fire hydrant -->
        <div
          class="relative group shadow-lg hover:shadow-2xl transition-shadow duration-300">
          <img
            src="/logo page rumah api/fire hydrant.webp"
            alt="Fire Hydrant"
            class="object-cover w-full h-48 rounded-lg transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute inset-0 bg-gradient-to-t from-black opacity-50 rounded-lg">
          </div>
          <div
            class="absolute bottom-4 left-4 text-white font-bold text-lg transition-all duration-300 group-hover:bottom-0">
            Fire Hydrant
          </div>
        </div>

        <!-- Card 4 -->
        <div
          class="relative group shadow-lg hover:shadow-2xl transition-shadow duration-300">
          <a href="/produk/firepump">
            <img
              src="/logo page rumah api/firew pump.webp"
              alt="Fire Pump"
              class="object-cover w-full h-48 rounded-lg transition-transform duration-300 group-hover:scale-105"
            />
            <div
              class="absolute inset-0 bg-gradient-to-t from-black opacity-50 rounded-lg">
            </div>
            <div
              class="absolute bottom-4 left-4 text-white font-bold text-lg transition-all duration-300 group-hover:bottom-0">
              Fire Pump
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!--Swipper logo -->
  <section class="bg-gray-200 text-black py-8 shadow-md">
    <h2 class="text-center text-2xl mb-2 font-bold leading-8">
      Produk Andalan RumahApi
    </h2>
    <p class="text-center text-lg font-extralight leading-8 px-3 md:px-36">
      RumahApi menawarkan produk proteksi kebakaran berkualitas tinggi yang
      dirancang untuk ketahanan maksimal dan keandalan jangka panjang. Kami
      memastikan keamanan terbaik dengan teknologi terkini yang siap melindungi
      aset Anda.
    </p>

    <!-- Carousel container -->
    <div
      class="logos group relative overflow-hidden whitespace-nowrap py-10 [mask-image:_linear-gradient(to_right,_transparent_0,_white_128px,white_calc(100%-128px),_transparent_100%)]">
      <!-- First set of logos -->
      <!-- Loop pertama gambar-gambar mitra -->
      <div
        class="animate-slide-left-infinite group-hover:animation-pause inline-block w-max">
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/secutron.png"
          alt="secutron"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/notifier.png"
          alt="notifier"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/GuardALL.jpg"
          alt="guardall"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/hooseki.png"
          alt="hooseki"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/horing lih.png"
          alt="horing lih"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/nittan.png"
          alt="nittan"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/nohmi.png"
          alt="nohmi"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/hongchang.png"
          alt="hong chang"
        />
      </div>

      <!-- Loop kedua gambar-gambar mitra untuk efek infinite scroll -->
      <div
        class="animate-slide-left-infinite group-hover:animation-pause inline-block w-max">
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/secutron.png"
          alt="secutron"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/notifier.png"
          alt="notifier"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/GuardALL.jpg"
          alt="guardall"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/hooseki.png"
          alt="hooseki"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/horing lih.png"
          alt="horing lih"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/nittan.png"
          alt="nittan"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/nohmi.png"
          alt="nohmi"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/hongchang.png"
          alt="hong chang"
        />
      </div>
    </div>
  </section>

  <style>
    .swiper-button-next,
    .swiper-button-prev {
      color: #333; /* Ubah warna tombol navigasi */
    }
  </style>

  <!--Klient Terpercaya -->
  <Klikporto />
</BaseLayout>
