---
import BaseLayout from "../layouts/BaseLayout.astro";
import Klikporto from "../components/klikporto.astro";
import Heropagetitle from "../components/heropagetitle.astro";

const {
  titlemeta = "LLayanan Proteksi Kebakaran Tangguh-Tentang Kami",
  descriptionmeta = "Perlindungan Terbaik Untuk Masa Depan Aset Berharga Anda",
  pagetitle = " Produk Kami Yang Luarbiasa",
  pagesubtitle = "Kami berkomitmen untuk menjaga keselamatan Anda dengan teknologi mutakhir dan tim ahli yang berdedikasi tinggi",
} = Astro.props;

---

<BaseLayout titlemeta={titlemeta} descriptionmeta={descriptionmeta}>
  <Heropagetitle pagetitle={pagetitle} pagesubtitle={pagesubtitle}/>
 
  
  <section class=" md:p-52 px-2">
    <h2 class="text-center text-2xl mb-2 font-bold leading-8">
      Lihat Lebih Dekat Dengan Produk Kami
    </h2>
    <div class="container mx-auto px-4 md:px-8">
      <!-- Section for Cards 5, 6, 7 -->
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-10 my-10">
        <!-- Card 5 -->

        <div
          class="relative group shadow-lg hover:shadow-2xl transition-shadow duration-300">
          <a href="/produk/firesprinkler">
            <img
              src="/logo page rumah api/firesplink.webp"
              alt="Fire Sprinkler"
              class="object-cover w-full h-48 rounded-lg transition-transform duration-300 group-hover:scale-105"
            />
            <div
              class="absolute inset-0 bg-gradient-to-t from-black opacity-50 rounded-lg">
            </div>
            <div
              class="absolute bottom-4 left-4 text-white font-bold text-lg transition-all duration-300 group-hover:bottom-0">
              Fire Sprinkler
            </div>
          </a>
        </div>

        <!-- Card 6 -->
        <div
          class="relative group shadow-lg hover:shadow-2xl transition-shadow duration-300">
          <a href="/produk/firesystems">
            <img
              src="/logo page rumah api/fire system.webp"
              alt="Fire System"
              class="object-cover w-full h-48 rounded-lg transition-transform duration-300 group-hover:scale-105"
            />
            <div
              class="absolute inset-0 bg-gradient-to-t from-black opacity-50 rounded-lg">
            </div>
            <div
              class="absolute bottom-4 left-4 text-white font-bold text-lg transition-all duration-300 group-hover:bottom-0">
              Fire System
            </div>
          </a>
        </div>

        <!-- Fire Door -->
        <div
          class="relative group shadow-lg hover:shadow-2xl transition-shadow duration-300">
          <img
            src="/logo page rumah api/firedoor.webp"
            alt="Fire Door"
            class="object-cover w-full h-48 rounded-lg transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute inset-0 bg-gradient-to-t from-black opacity-50 rounded-lg">
          </div>
          <div
            class="absolute bottom-4 left-4 text-white font-bold text-lg transition-all duration-300 group-hover:bottom-0">
            Fire Door
          </div>
        </div>
      </div>

      <!-- Section for Cards 1, 2, 3, 4 -->
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
        <!-- Card 1 -->
        <div
          class="relative group shadow-lg hover:shadow-2xl transition-shadow duration-300">
          <a href="/produk/apar">
            <img
              src="/logo page rumah api/1.fireexhaus.webp"
              alt="Fire Extinguisher"
              class="object-cover w-full h-48 rounded-lg transition-transform duration-300 group-hover:scale-105"
            />
            <div
              class="absolute inset-0 bg-gradient-to-t from-black opacity-50 rounded-lg">
            </div>
            <div
              class="absolute bottom-4 left-4 text-white font-bold text-lg transition-all duration-300 group-hover:bottom-0">
              Fire Extinguisher
            </div>
          </a>
        </div>

        <!-- Fire Alarm -->
        <div
          class="relative group shadow-lg hover:shadow-2xl transition-shadow duration-300">
          <a href="/produk/firealarm">
            <img
              src="/logo page rumah api/fire alarm.webp"
              alt="Fire Alarm"
              class="object-cover w-full h-48 rounded-lg transition-transform duration-300 group-hover:scale-105"
            />
            <div
              class="absolute inset-0 bg-gradient-to-t from-black opacity-50 rounded-lg">
            </div>
            <div
              class="absolute bottom-4 left-4 text-white font-bold text-lg transition-all duration-300 group-hover:bottom-0">
              Fire Alarm
            </div>
          </a>
        </div>

        <!-- Fire hydrant -->
        <div
          class="relative group shadow-lg hover:shadow-2xl transition-shadow duration-300">
          <img
            src="/logo page rumah api/fire hydrant.webp"
            alt="Fire Hydrant"
            class="object-cover w-full h-48 rounded-lg transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute inset-0 bg-gradient-to-t from-black opacity-50 rounded-lg">
          </div>
          <div
            class="absolute bottom-4 left-4 text-white font-bold text-lg transition-all duration-300 group-hover:bottom-0">
            Fire Hydrant
          </div>
        </div>

        <!-- Card 4 -->
        <div
          class="relative group shadow-lg hover:shadow-2xl transition-shadow duration-300">
          <a href="/produk/firepump">
            <img
              src="/logo page rumah api/firew pump.webp"
              alt="Fire Pump"
              class="object-cover w-full h-48 rounded-lg transition-transform duration-300 group-hover:scale-105"
            />
            <div
              class="absolute inset-0 bg-gradient-to-t from-black opacity-50 rounded-lg">
            </div>
            <div
              class="absolute bottom-4 left-4 text-white font-bold text-lg transition-all duration-300 group-hover:bottom-0">
              Fire Pump
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!--Swipper logo -->
  <section class="bg-gray-200 text-black py-8 shadow-md">
    <h2 class="text-center text-2xl mb-2 font-bold leading-8">
      Produk Andalan Tigrisfire
    </h2>
    <p class="text-center text-lg font-extralight leading-8 px-3 md:px-36">
      Tigrisfire menawarkan produk proteksi kebakaran berkualitas tinggi yang
      dirancang untuk ketahanan maksimal dan keandalan jangka panjang. Kami
      memastikan keamanan terbaik dengan teknologi terkini yang siap melindungi
      aset Anda.
    </p>

    <!-- Carousel container -->
    <div
      class="logos group relative overflow-hidden whitespace-nowrap py-10 [mask-image:_linear-gradient(to_right,_transparent_0,_white_128px,white_calc(100%-128px),_transparent_100%)]">
      <!-- First set of logos -->
      <!-- Loop pertama gambar-gambar mitra -->
      <div
        class="animate-slide-left-infinite group-hover:animation-pause inline-block w-max">
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/secutron.png"
          alt="secutron"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/notifier.png"
          alt="notifier"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/GuardALL.jpg"
          alt="guardall"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/hooseki.png"
          alt="hooseki"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/horing lih.png"
          alt="horing lih"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/nittan.png"
          alt="nittan"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/nohmi.png"
          alt="nohmi"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/hongchang.png"
          alt="hong chang"
        />
      </div>

      <!-- Loop kedua gambar-gambar mitra untuk efek infinite scroll -->
      <div
        class="animate-slide-left-infinite group-hover:animation-pause inline-block w-max">
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/secutron.png"
          alt="secutron"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/notifier.png"
          alt="notifier"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/GuardALL.jpg"
          alt="guardall"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/hooseki.png"
          alt="hooseki"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/horing lih.png"
          alt="horing lih"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/nittan.png"
          alt="nittan"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/nohmi.png"
          alt="nohmi"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/hongchang.png"
          alt="hong chang"
        />
      </div>
    </div>
  </section>

  <style>
    .swiper-button-next,
    .swiper-button-prev {
      color: #333; /* Ubah warna tombol navigasi */
    }
  </style>

  <!--Klient Terpercaya -->
  <Klikporto />
</BaseLayout>
