---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Klikporto from "../../components/klikporto.astro";
import Heropagetitle from "../../components/heropagetitle.astro";

// Title dan description untuk meta

const {
  titlemeta = "Our Fire Pump",
  descriptionmeta = "Produk Berkulitas Fire Pump Kami",
  pagetitle = "Our Fire Pump",
} = Astro.props;
---

<BaseLayout titlemeta={titlemeta} descriptionmeta={descriptionmeta}>
  <Heropagetitle pagetitle={pagetitle} />
  
  <!-- Main Content -->
  <main class="py-16" id="products">
    <div class="container mx-auto">
      <section class="grid grid-cols-1 md:grid-cols-1 gap-10 md:px-20 px-2">
        <!-- Electric Fire Pump -->
        <div class="bg-white rounded-lg shadow-lg p-6 flex items-center">
          <img
            src="/pelatihan training/TIGRIS-ENGINE-PRODUK.jpg"
            alt="Electric Fire Pump"
            class="w-28 md:w-60 h-auto rounded-lg mr-6"
          />
          <div>
            <h3 class="text-3xl font-bold text-blue-600 mb-3">
              Electric Fire Pump
            </h3>
            <p class="text-gray-700 mb-4">
              The primary pump in a fire hydrant installation, poweblue by
              electricity to ensure quick response during emergencies.
            </p>
            <a
              href="/tigrisproduct/tigris-engine"
              class="inline-block px-6 py-3 bg-blue-600 text-white rounded-full font-semibold hover:bg-blue-500 transition"
              >View Product</a
            >
          </div>
        </div>

        <!-- Diesel Fire Pump -->
        <div class="bg-white rounded-lg shadow-lg p-6 flex items-center">
          <img
            src="/pelatihan training/TEFSC-SERIES-TIGRIS-1.jpg"
            alt="Diesel Fire Pump"
            class="w-28 md:w-60 h-auto rounded-lg mr-6"
          />
          <div>
            <h3 class="text-3xl font-bold text-blue-600 mb-3">
              Diesel Fire Pump
            </h3>
            <p class="text-gray-700 mb-4">
              Poweblue by diesel, this pump serves as a backup for the electric
              pump, ensuring fire safety even during power outages.
            </p>
            <a
              href="/tigrisproduct/tefsc-series-2"
              class="inline-block px-6 py-3 bg-blue-600 text-white rounded-full font-semibold hover:bg-blue-500 transition"
              >View Product</a
            >
          </div>
        </div>

        <!-- Jockey Fire Pump -->
        <div class="bg-white rounded-lg shadow-lg p-6 flex items-center">
          <img
            src="/pelatihan training/TEFJP-SERIES-tigris.webp"
            alt="Jockey Fire Pump"
            class="w-28 md:w-60 h-auto rounded-lg mr-6"
          />
          <div>
            <h3 class="text-3xl font-bold text-blue-600 mb-3">
              Jockey Fire Pump
            </h3>
            <p class="text-gray-700 mb-4">
              A pump designed to maintain water pressure in the fire hydrant
              system to avoid water hammer.
            </p>
            <a
              href="/tigrisproduct/pompa-jockey"
              class="inline-block px-6 py-3 bg-blue-600 text-white rounded-full font-semibold hover:bg-blue-500 transition"
              >View Product</a
            >
          </div>
        </div>
      </section>
    </div>
  </main>

  <!--Swipper logo -->
  <section class="bg-gray-200 text-black py-8 shadow-md">
    <h2 class="text-center text-2xl mb-2 font-bold leading-8">
      Produk Firepump Kami
    </h2>
    <p class="text-center text-lg font-extralight leading-8 px-3 md:px-36">
      Tigrisfire menawarkan produk proteksi kebakaran berkualitas tinggi yang
      dirancang untuk ketahanan maksimal dan keandalan jangka panjang. Kami
      memastikan keamanan terbaik dengan teknologi terkini yang siap melindungi
      aset Anda.
    </p>

    <!-- Carousel container -->
    <div
      class="logos group relative overflow-hidden whitespace-nowrap py-10 [mask-image:_linear-gradient(to_right,_transparent_0,_white_128px,white_calc(100%-128px),_transparent_100%)]">
      <!-- First set of logos -->
      <!-- Loop pertama gambar-gambar mitra -->
      <div
        class="animate-slide-left-infinite group-hover:animation-pause inline-block w-max">
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/secutron.png"
          alt="secutron"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/notifier.png"
          alt="notifier"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/GuardALL.jpg"
          alt="guardall"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/hooseki.png"
          alt="hooseki"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/horing lih.png"
          alt="horing lih"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/nittan.png"
          alt="nittan"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/nohmi.png"
          alt="nohmi"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/hongchang.png"
          alt="hong chang"
        />
      </div>

      <!-- Loop kedua gambar-gambar mitra untuk efek infinite scroll -->
      <div
        class="animate-slide-left-infinite group-hover:animation-pause inline-block w-max">
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/secutron.png"
          alt="secutron"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/notifier.png"
          alt="notifier"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/GuardALL.jpg"
          alt="guardall"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/hooseki.png"
          alt="hooseki"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/horing lih.png"
          alt="horing lih"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/nittan.png"
          alt="nittan"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/nohmi.png"
          alt="nohmi"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/hongchang.png"
          alt="hong chang"
        />
      </div>
    </div>
  </section>

  <Klikporto />
</BaseLayout>
