---
import BaseLayout from "../../layouts/BaseLayout.astro";

// Title dan description untuk meta
const titlemeta =
  "Layanan Proteksi Kebakaran Tangguh-Fire Alarm Sistem Product";
const descriptionmeta =
  "Perlindungan Terbaik Untuk Masa Depan Aset Berharga Anda";
---

<BaseLayout titlemeta={titlemeta} descriptionmeta={descriptionmeta}>
  <section
    class="relative py-16 bg-gradient-to-r from-orange-400 via-yellow-400 to-red-500 overflow-hidden">
    <!-- Animated Background Particles -->
    <div class="absolute inset-0">
      <div
        class="w-80 h-80 bg-gradient-to-r from-yellow-300 via-orange-400 to-red-400 opacity-40 rounded-full blur-2xl absolute -top-10 -left-10 animate-float-slow">
      </div>
      <div
        class="w-64 h-64 bg-gradient-to-r from-orange-300 via-yellow-400 to-red-400 opacity-40 rounded-full blur-2xl absolute top-20 right-0 animate-float-slow">
      </div>
      <div
        class="w-72 h-72 bg-gradient-to-r from-yellow-500 via-orange-300 to-red-600 opacity-40 rounded-full blur-2xl absolute -bottom-20 right-16 animate-float-slow">
      </div>
    </div>

    <!-- Content -->
    <div
      class="relative z-10 container mx-auto px-6 md:px-12 lg:px-16 text-white">
      <!-- Section Header -->
      <div class="text-center">
        <h2
          class="text-5xl font-bold leading-tight tracking-tight text-shadow-md">
          Fire Alarm
        </h2>
      </div>
    </div>
  </section>

  <main class="container mx-auto py-10">
    <h1 class="text-3xl font-bold text-center mb-6 text-gray-700">
      Kami Melayani Berbagai Kategori
    </h1>

    <section
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 md:px-24 px-5">
      <!-- Fire Alarm Control Center -->
      <div
        class="bg-white rounded-lg shadow-lg p-8 hover:drop-shadow-[0_10px_15px_rgba(249,115,22,0.4)] transition-shadow">
        <h2 class="text-xl font-bold text-orange-600 mb-4">
          Fire Alarm Control Center
        </h2>
        <p class="text-gray-600">
          Centralized control and monitoring, the heart of your fire alarm
          system.
        </p>
      </div>

      <!-- Fire Sensors -->
      <div
        class="bg-white rounded-lg shadow-lg p-8 hover:drop-shadow-[0_10px_15px_rgba(249,115,22,0.4)] transition-shadow">
        <h2 class="text-xl font-bold text-orange-600 mb-4">Fire Sensors</h2>
        <p class="text-gray-600">
          Early detection is key. Reliable fire detectors for various hazards.
        </p>
      </div>

      <!-- Alarm Sirens -->
      <div
        class="bg-white rounded-lg shadow-lg p-8 hover:drop-shadow-[0_10px_15px_rgba(249,115,22,0.4)] transition-shadow">
        <h2 class="text-xl font-bold text-orange-600 mb-4">Alarm Sirens</h2>
        <p class="text-gray-600">
          Powerful and audible alarm bells for immediate notification during
          fire.
        </p>
      </div>

      <!-- Emergency Buttons -->
      <div
        class="bg-white rounded-lg shadow-lg p-8 hover:drop-shadow-[0_10px_15px_rgba(249,115,22,0.4)] transition-shadow">
        <h2 class="text-xl font-bold text-orange-600 mb-4">
          Emergency Buttons
        </h2>
        <p class="text-gray-600">
          Easy-to-use devices for manual activation of the fire alarm system.
        </p>
      </div>

      <!-- Alarm Indicators -->
      <div
        class="bg-white rounded-lg shadow-lg p-8 hover:drop-shadow-[0_10px_15px_rgba(249,115,22,0.4)] transition-shadow">
        <h2 class="text-xl font-bold text-orange-600 mb-4">
          Alarm Indicators
        </h2>
        <p class="text-gray-600">
          Visual indicators confirming alarm activation and fire events.
        </p>
      </div>

      <!-- Fire Alarm Display Systems -->
      <div
        class="bg-white rounded-lg shadow-lg p-8 hover:drop-shadow-[0_10px_15px_rgba(249,115,22,0.4)] transition-shadow">
        <h2 class="text-xl font-bold text-orange-600 mb-4">
          Fire Alarm Display Systems
        </h2>
        <p class="text-gray-600">
          Detailed displays providing information on the fire alarm system
          events.
        </p>
      </div>

      <!-- System Accessories -->
      <div
        class="bg-white rounded-lg shadow-lg p-8 hover:drop-shadow-[0_10px_15px_rgba(249,115,22,0.4)] transition-shadow">
        <h2 class="text-xl font-bold text-orange-600 mb-4">
          System Accessories
        </h2>
        <p class="text-gray-600">
          Complementary products enhancing the overall effectiveness of your
          system.
        </p>
      </div>
    </section>
  </main>

  <!--Swipper logo -->
  <section class="bg-gray-200 text-black py-8 shadow-md">
    <h2 class="text-center text-3xl mb-2 font-bold leading-8">
      Produk Fire Alarm Kami
    </h2>
    <p class="text-center text-lg font-extralight leading-8 px-3 md:px-36">
      RumahApi menawarkan produk proteksi kebakaran berkualitas tinggi yang
      dirancang untuk ketahanan maksimal dan keandalan jangka panjang. Kami
      memastikan keamanan terbaik dengan teknologi terkini yang siap melindungi
      aset Anda.
    </p>

    <!-- Carousel container -->
    <div
      class="logos group relative overflow-hidden whitespace-nowrap py-10 [mask-image:_linear-gradient(to_right,_transparent_0,_white_128px,white_calc(100%-128px),_transparent_100%)]">
      <!-- First set of logos -->
      <!-- Loop pertama gambar-gambar mitra -->
      <div
        class="animate-slide-left-infinite group-hover:animation-pause inline-block w-max">
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/secutron.png"
          alt="secutron"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/notifier.png"
          alt="notifier"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/GuardALL.jpg"
          alt="guardall"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/hooseki.png"
          alt="hooseki"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/horing lih.png"
          alt="horing lih"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/nittan.png"
          alt="nittan"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/nohmi.png"
          alt="nohmi"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/hongchang.png"
          alt="hong chang"
        />
      </div>

      <!-- Loop kedua gambar-gambar mitra untuk efek infinite scroll -->
      <div
        class="animate-slide-left-infinite group-hover:animation-pause inline-block w-max">
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/secutron.png"
          alt="secutron"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/notifier.png"
          alt="notifier"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/GuardALL.jpg"
          alt="guardall"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/hooseki.png"
          alt="hooseki"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/horing lih.png"
          alt="horing lih"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/nittan.png"
          alt="nittan"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/nohmi.png"
          alt="nohmi"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/hongchang.png"
          alt="hong chang"
        />
      </div>
    </div>
  </section>

  <!-- Fire Alarm Section -->
  <section class="bg-white p-2 md:px-20">
    <div class="container mx-auto px-5">
      <h2 class="text-4xl font-bold text-center text-gray-900 mb-10 mt-10">
        Sistem Fire Alarm
      </h2>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-8">
        <!-- Tipe Konvensional -->
        <div
          class="bg-gray-50 bg-opacity-80 shadow-xl rounded-lg p-6 transition-transform transform hover:scale-105 hover:shadow-2xl group">
          <div
            class="w-16 h-16 bg-gradient-to-r from-red-500 to-yellow-500 rounded-full flex items-center justify-center mx-auto mb-6">
            <img
              src="https://via.placeholder.com/150?text=Konvensional"
              alt="Konvensional Icon"
              class="w-10 h-10"
            />
          </div>
          <h3 class="text-2xl font-bold text-gray-900 text-center mb-4">
            Tipe Konvensional
          </h3>
          <ul class="list-disc list-inside text-gray-600 mb-4">
            <li>Master Control Fire Alarm</li>
            <li>Annunciator</li>
            <li>Manual Call Point</li>
            <li>5 Zone, 10 Zone, 20 Zone, hingga 80 Zone</li>
          </ul>
        </div>

        <!-- Tipe Addressable -->
        <div
          class="bg-gray-50 bg-opacity-80 shadow-xl rounded-lg p-6 transition-transform transform hover:scale-105 hover:shadow-2xl group">
          <div
            class="w-16 h-16 bg-gradient-to-r from-blue-500 to-purple-500 rounded-full flex items-center justify-center mx-auto mb-6">
            <img
              src="https://via.placeholder.com/150?text=Addressable"
              alt="Addressable Icon"
              class="w-10 h-10"
            />
          </div>
          <h3 class="text-2xl font-bold text-gray-900 text-center mb-4">
            Tipe Addressable
          </h3>
          <ul class="list-disc list-inside text-gray-600 mb-4">
            <li>Deteksi Akurat</li>
            <li>Master Control Addressable</li>
            <li>Berbagai Jenis Loop</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
