---
import BaseLayout from "../../layouts/BaseLayout.astro";

// Title dan description untuk meta
const titlemeta =
  "Layanan Proteksi Kebakaran Tangguh-Fire Alarm Sistem Product";
const descriptionmeta =
  "Perlindungan Terbaik Untuk Masa Depan Aset Berharga Anda";
---

<BaseLayout titlemeta={titlemeta} descriptionmeta={descriptionmeta}>
  <section
    class="relative py-16 bg-gradient-to-r from-orange-400 via-yellow-400 to-red-500 overflow-hidden">
    <!-- Animated Background Particles -->
    <div class="absolute inset-0">
      <div
        class="w-80 h-80 bg-gradient-to-r from-yellow-300 via-orange-400 to-red-400 opacity-40 rounded-full blur-2xl absolute -top-10 -left-10 animate-float-slow">
      </div>
      <div
        class="w-64 h-64 bg-gradient-to-r from-orange-300 via-yellow-400 to-red-400 opacity-40 rounded-full blur-2xl absolute top-20 right-0 animate-float-slow">
      </div>
      <div
        class="w-72 h-72 bg-gradient-to-r from-yellow-500 via-orange-300 to-red-600 opacity-40 rounded-full blur-2xl absolute -bottom-20 right-16 animate-float-slow">
      </div>
    </div>

    <!-- Content -->
    <div
      class="relative z-10 container mx-auto px-6 md:px-12 lg:px-16 text-white">
      <!-- Section Header -->
      <div class="text-center">
        <h2
          class="text-5xl font-bold leading-tight tracking-tight text-shadow-md">
          Fire Sprinkler
        </h2>
        <p class="text-center text-lg font-extralight leading-8 px-3 md:px-36">
          Dirancang untuk beroperasi secara otomatis pada suhu tertentu, alat
          pemadam api ini selalu siaga, memberikan perlindungan yang andal kapan
          pun diperlukan
        </p>
      </div>
    </div>
  </section>

  <section
    class="text-gray-600 body-font bg-gradient-to-t from-orange-300 to-white bg-opacity-5">
    <div
      class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <div
        class="lg:flex-grow md:w-1/2 lg:px-24 md:px-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
        <h1
          class="title-font sm:text-4xl text-3xl mb-4 font-extrabold text-gray-900">
          Splinkler
        </h1>
        <p class="mb-8 leading-relaxed text-2xl">
          Perlindungan Otomatis dari Kebakaran, Siaga Setiap Saat
        </p>
      </div>
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
        <img
          class="object-cover object-center rounded"
          alt="herosprinkler"
          src="/SPRINKLEWATER.webp"
        />
      </div>
    </div>
  </section>

  <!-- Service Section -->
  <div class="my-14">
    <h2 class="text-center text-2xl mb-2 font-bold leading-8">
      Produk Fire Sprinkler
    </h2>
    <p class="text-center text-lg font-extralight leading-8 px-3 md:px-36">
      RumahApi menawarkan produk proteksi kebakaran berkualitas tinggi yang
      dirancang untuk ketahanan maksimal dan keandalan jangka panjang. Kami
      memastikan keamanan terbaik dengan teknologi terkini yang siap melindungi
      aset Anda.
    </p>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-12 mt-11 md:px-32">
      <!-- Service 1 -->
      <div
        class="bg-white p-8 rounded-3xl shadow-lg hover:shadow-2xl transition-all duration-500 hover:-translate-y-2 hover:scale-105">
        <h2 class="text-xl font-bold text-red-600 mb-4">
          Perlindungan untuk Risiko Kebakaran Rendah
        </h2>
        <p class="text-gray-700 mb-6">
          Memiliki kepadatan pancaran sebesar 2,25 mm/menit, dengan area cakupan
          maksimal hingga 84 m². Jenis bangunan yang termasuk dalam kategori ini
          adalah perkantoran, perumahan, sekolah, hotel, dan rumah sakit.
        </p>
      </div>

      <!-- Service 2 -->
      <div
        class="bg-white p-8 rounded-3xl shadow-lg hover:shadow-2xl transition-all duration-500 hover:-translate-y-2 hover:scale-105">
        <h2 class="text-xl font-bold text-red-600 mb-4">
          Perlindungan untuk Risiko Kebakaran Sedang
        </h2>
        <p class="text-gray-700 mb-6">
          Dengan kepadatan pancaran air 5 mm/menit, area kerjanya bervariasi
          antara 72 hingga 360 m². Bangunan seperti pabrik tekstil, elektronik,
          pengolahan logam, dan bengkel mobil termasuk dalam kategori ini.
        </p>
      </div>

      <!-- Service 3 -->
      <div
        class="bg-white p-8 rounded-3xl shadow-lg hover:shadow-2xl transition-all duration-500 hover:-translate-y-2 hover:scale-105">
        <h2 class="text-xl font-bold text-red-600 mb-4">
          Perlindungan untuk Risiko Kebakaran Tinggi
        </h2>
        <p class="text-gray-700 mb-6">
          Sprinkler dalam kategori ini memiliki kepadatan pancaran antara 7,5
          hingga 12,5 mm/menit dengan cakupan area sekitar 260 m². Bangunan
          seperti pabrik kimia, penyimpanan bahan peledak, pabrik korek api, dan
          kilang minyak berada dalam kategori risiko tinggi ini.
        </p>
      </div>
    </div>
  </div>

  <!--Swipper logo -->
  <section class="bg-gray-200 text-black py-8 shadow-md">
    <h2 class="text-center text-2xl mb-2 font-bold leading-8">
      Produk Fire Sprinkler
    </h2>
    <p class="text-center text-lg font-extralight leading-8 px-3 md:px-36">
      RumahApi menawarkan produk proteksi kebakaran berkualitas tinggi yang
      dirancang untuk ketahanan maksimal dan keandalan jangka panjang. Kami
      memastikan keamanan terbaik dengan teknologi terkini yang siap melindungi
      aset Anda.
    </p>

    <!-- Carousel container -->
    <div
      class="logos group relative overflow-hidden whitespace-nowrap py-10 [mask-image:_linear-gradient(to_right,_transparent_0,_white_128px,white_calc(100%-128px),_transparent_100%)]">
      <!-- First set of logos -->
      <!-- Loop pertama gambar-gambar mitra -->
      <div
        class="animate-slide-left-infinite group-hover:animation-pause inline-block w-max">
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/secutron.png"
          alt="secutron"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/notifier.png"
          alt="notifier"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/GuardALL.jpg"
          alt="guardall"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/hooseki.png"
          alt="hooseki"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/horing lih.png"
          alt="horing lih"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/nittan.png"
          alt="nittan"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/nohmi.png"
          alt="nohmi"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/hongchang.png"
          alt="hong chang"
        />
      </div>

      <!-- Loop kedua gambar-gambar mitra untuk efek infinite scroll -->
      <div
        class="animate-slide-left-infinite group-hover:animation-pause inline-block w-max">
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/secutron.png"
          alt="secutron"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/notifier.png"
          alt="notifier"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/GuardALL.jpg"
          alt="guardall"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/hooseki.png"
          alt="hooseki"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/horing lih.png"
          alt="horing lih"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/nittan.png"
          alt="nittan"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/nohmi.png"
          alt="nohmi"
        />
        <img
          class="mx-4 inline h-36"
          src="/logo firealarm/hongchang.png"
          alt="hong chang"
        />
      </div>
    </div>
  </section>

  <!-- Standards Section -->
  <div>
    <p class="text-center font-bold mt-20 text-3xl">
      Pengaturan Suhu Sprinkler Kebakaran
    </p>
  </div>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-8 mt-5 p-3">
    <!-- Standard 1 -->
    <div
      class="bg-red-500 text-white p-6 rounded-3xl shadow-lg hover:shadow-xl transition-shadow duration-300">
      <div class="text-center font-extrabold text-2xl">RED</div>
      <p class="text-xl font-semibold">
        Operates at: 155 ℉ / 68 ℃ Temperature Classification: Ordinary Maximum
        Ceiling Temperature: 100 ℉ / 38 ℃
      </p>
    </div>
    <div
      class="bg-orange-500 text-white p-6 rounded-3xl shadow-lg hover:shadow-xl transition-shadow duration-300">
      <div class="text-center font-extrabold text-2xl">ORANGE</div>
      <p class="text-xl font-semibold">
        Operates at: 135℉ / 57℃ Temperature Classification: Ordinary Maximum
        Ceiling Temperature: 100℉ / 38℃
      </p>
    </div>

    <!-- Standard 2 -->
    <div
      class="bg-black text-white p-6 rounded-3xl shadow-lg hover:shadow-xl transition-shadow duration-300">
      <div class="text-center font-extrabold text-2xl">BLACK</div>
      <p class="text-xl font-semibold">
        Operates at: 500 ℉ / 260 ℃ Temperature Classification: Ultra High
        Maximum Ceiling Temperature: 465 ℉ / 240 ℃
      </p>
    </div>

    <!-- Standard 3 -->
    <div
      class="bg-purple-700 text-white p-6 rounded-3xl shadow-lg hover:shadow-xl transition-shadow duration-300">
      <div class="text-center font-extrabold text-2xl">MAUVE</div>
      <p class="text-xl font-semibold">
        Operates at: 360 ℉ / 182 ℃ Temperature Classification: Extra High
        Maximum Ceiling Temperature: 300 ℉ / 149 ℃
      </p>
    </div>

    <!-- Standard 4 -->
    <div
      class="bg-green-500 text-white p-6 rounded-3xl shadow-lg hover:shadow-xl transition-shadow duration-300">
      <div class="text-center font-extrabold text-2xl">GREEN</div>
      <p class="text-xl font-semibold">
        Operates at: 200 or 212 ℉ / 93 or 100 ℃ Temperature Classification:
        Intermediate Maximum Ceiling Temperature: 150 ℉ / 65 ℃
      </p>
    </div>

    <!-- Standard 5 -->
    <div
      class="bg-yellow-500 text-white p-6 rounded-3xl shadow-lg hover:shadow-xl transition-shadow duration-300">
      <div class="text-center font-extrabold text-2xl">YELLOW</div>
      <p class="text-xl font-semibold">
        Operates at: 175 ℉ / 79 ℃ Temperature Classification: Intermediate
        Maximum Ceiling Temperature: 150 ℉ / 65 ℃
      </p>
    </div>

    <!-- Standard 6 -->

    <div
      class="bg-blue-500 text-white p-6 rounded-3xl shadow-lg hover:shadow-xl transition-shadow duration-300">
      <div class="text-center font-extrabold text-2xl">BLUE</div>
      <p class="text-xl font-semibold">
        Operates at: 286 ℉ / 141 ℃ Temperature Classification: High Maximum
        Ceiling Temperature: 225 ℉ / 107 ℃
      </p>
    </div>
  </div>
</BaseLayout>
