---
import Image from "astro/components/Image.astro"
import fotobus from "../assets/busfoto.webp";
---

<!-- Free Ongkir Banner -->
<div class="mb-6">
  
  <Image
  src={fotobus}
  alt="refill APAR Terdekat bus pemadam"
  width={600}
  height={600}
  format="webp"
  quality={85}
  class="rounded-t-lg w-full aspect-square"
/>
</div>

<!-- Area Penjualan APAR -->
<div class="bg-white p-6 rounded-lg shadow-lg">
  <h3 class="text-lg font-semibold mb-3">
    Wilayah Penjualan APAR / Tabung Pemadam Dokterfire
  </h3>
  <ul class="list-disc list-inside text-gray-700 text-sm">
    <li>
      <a href="https://dokterfire.com/jual-apar-tabung-pemadam-berkualitas-di-jakarta-dokterfire/" class="text-blue-600 hover:underline">
        Jual APAR / Tabung Pemadam Berkualitas di Jakarta - Dokterfire
      </a>
    </li>
    <li>
      <a href="https://dokterfire.com/jual-apar-tabung-pemadam-berkualitas-di-bekasi-free-ongkir-bergaransi-dan-terpercaya/" class="text-blue-600 hover:underline">
        Jual APAR / Tabung Pemadam Harga Terbaik di Bekasi - Dokterfire
      </a>
    </li>
    <li>
      <a href="https://dokterfire.com/jual-apar-tabung-pemadam-berkualitas-di-depok-free-ongkir-bergaransi-dan-terpercaya/" class="text-blue-600 hover:underline">
        Jual APAR / Tabung Pemadam Bersertifikat di Depok - Dokterfire
      </a>
    </li>
    <li>
      <a href="https://dokterfire.com/jual-apar-tabung-pemadam-berkualitas-di-tangerang-free-ongkir-bergaransi-dan-terpercaya/" class="text-blue-600 hover:underline">
        Jual APAR / Tabung Pemadam Garansi Resmi di Tangerang - Dokterfire
      </a>
    </li>
    <li>
      <a href="https://dokterfire.com/jual-apar-tabung-pemadam-berkualitas-di-medan-free-ongkir-bergaransi-dan-terpercaya/" class="text-blue-600 hover:underline">
        Jual APAR / Tabung Pemadam Harga Terbaik di Medan - Dokterfire
      </a>
    </li>
    <li>
      <a href="https://dokterfire.com/jual-apar-tabung-pemadam-berkualitas-di-samarinda-free-ongkir-bergaransi-dan-terpercaya/" class="text-blue-600 hover:underline">
        Jual APAR / Tabung Pemadam Garansi Resmi di Samarinda - Dokterfire
      </a>
    </li>
    <li>
      <a href="https://dokterfire.com/jual-apar-tabung-pemadam-berkualitas-di-cikarang-free-ongkir-bergaransi-dan-terpercaya/" class="text-blue-600 hover:underline">
        Jual APAR / Tabung Pemadam Garansi Resmi di Cikarang - Dokterfire
      </a>
    </li>
    <li>
      <a href="https://dokterfire.com/jual-apar-tabung-pemadam-berkualitas-di-bandung-free-ongkir-bergaransi-dan-terpercaya/" class="text-blue-600 hover:underline">
        Jual APAR / Tabung Pemadam Harga Terbaik di Bandung - Dokterfire
      </a>
    </li>
  </ul>
</div>

<!-- Pilihan APAR Sesuai Media Tabung -->
<div class="bg-white p-6 rounded-lg shadow-lg mb-6 mt-6">
  <h3 class="text-lg font-semibold mb-3">Pilihan APAR Sesuai Media Tabung</h3>
  <ul class="list-disc list-inside text-gray-700">
    <li>
      <a href="/" class="text-blue-600 hover:underline"
        >Isi Ulang / Refill APAR</a
      >
    </li>

    <li>
      <a href="/refil-c02-apar" class="text-blue-600 hover:underline">APAR Foam / Busa</a>
    </li>
   
    <li>
      <a href="/refil-powder-dry-chemical-apar" class="text-blue-600 hover:underline"
        >APAR Powder / Dry Chemical Powder</a
      >
    </li>
    <li>
      <a href="/refil-c02-apar" class="text-blue-600 hover:underline"
        >APAR CO2 / Carbon Dioxide</a
      >
    </li>
  </ul>
</div>

<!-- Pilihan APAR Sesuai Media Tabung -->
<div class="bg-white p-6 rounded-lg shadow-lg mb-6 mt-6">
  <h3 class="text-lg font-semibold mb-3">Tersedia Di Berbagai Kota</h3>
  <ul class="list-disc list-inside text-gray-700 text-sm">
    <li>
      <a href="https://refillaparjakarta.dokterfire.com/" class="text-blue-600 hover:underline">
        Refill APAR Segala Merek - Jakarta
      </a>
    </li>

    <li>
      <a href="https://refillapardepok.dokterfire.com/" class="text-blue-600 hover:underline">
        Refill APAR untuk Semua Jenis di Depok
      </a>
    </li>
    <li>
      <a href="https://refillapartangerang.dokterfire.com/" class="text-blue-600 hover:underline">
        Pengisian Ulang APAR Cepat di Tangerang
      </a>
    </li>
    <li>
      <a href="https://refillaparbekasi.dokterfire.com/" class="text-blue-600 hover:underline">
        Refill Tabung APAR Harga Terjangkau - Bekasi
      </a>
    </li>
    <li>
      <a href="https://refillaparmedan.dokterfire.com/" class="text-blue-600 hover:underline">
        Refill APAR untuk Semua Jenis di Medan
      </a>
    </li>
    <li>
      <a href="https://refillaparsurabaya.dokterfire.com/" class="text-blue-600 hover:underline">
        Refill APAR Segala Merek - Surabaya
      </a>
    </li>
    <li>
      <a href="https://refillaparsamarinda.dokterfire.com/" class="text-blue-600 hover:underline">
        Refill APAR untuk Semua Jenis di Samarinda
      </a>
    </li>
    <li>
      <a href="https://refillaparcikarang.dokterfire.com/" class="text-blue-600 hover:underline">
        Jasa Refill APAR Semua Merek - Cikarang
      </a>
    </li>
    <li>
      <a href="https://refillaparbandung.dokterfire.com/" class="text-blue-600 hover:underline">
        Refill APAR untuk Semua Jenis di Bandung
      </a>
    </li>
    <li>
      <a href="https://refillaparbogor.dokterfire.com/" class="text-blue-600 hover:underline">
        Jasa Pengisian Ulang APAR Semua Merek - Bogor
      </a>
    </li>
   
  </ul>
</div>

<!-- foto partner -->
<div class="mb-6">
  <div class="relative mb-6 group">
    <!-- Image with shadow and rounded corners -->
    <img
      src="/jasa refil apar kota.webp"
      alt="Jasa Refill APAR"
      class="w-full rounded-lg shadow-lg"
    />

    <!-- Text Overlay with gradient and animation -->
    <div
      class="absolute inset-0 bg-gradient-to-t from-black/70 via-transparent to-transparent flex items-end justify-center rounded-lg p-4 md:p-6">
      <h2
        class="text-xl md:text-3xl font-bold text-white drop-shadow-lg group-hover:text-transparent group-hover:bg-clip-text group-hover:bg-gradient-to-r group-hover:from-white group-hover:to-gray-300 transition-all duration-500">
        Layanan Refill APAR
      </h2>
    </div>
  </div>
</div>
