---
import "../styles/global.css";
//import transitions effect
import { ViewTransitions } from "astro:transitions";
import Navbar from "../components/navbar.astro";
import Footer from "../components/Footer.astro";

// Ambil props yang dikirim dari halaman
const {
  titlemeta = "LAYANAN PROTEKSI KEBAKARAN",
  descriptionmeta = "AMANKAN ASSET BERHARGAMU DI MASA DEPAN DENGAN KAMI AHLINYA",
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Gunakan titlemeta dan descriptionmeta dari props -->
    <title>{titlemeta}</title>
    <meta name="description" content={descriptionmeta} />

    <ViewTransitions />
    <script
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.0.0/dist/cdn.min.js"
      defer></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"
    ></script>

    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sheet-slider@3/dist/css/main.min.css"
    />

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <!-- Header -->
  <Navbar />

  <!-- Main Content -->
  <main class="mx-auto scroll-smooth">
    <slot />
  </main>

  <!-- CTA -->
  <div class="relative bg- mt-52">
    <div
      class="absolute w-full left-0 right-0 transform -translate-y-1/2 z-30 p-2">
      <div
        class="bg-white shadow-lg rounded-lg p-4 py-5 md:p-10 flex flex-col md:flex-row justify-between items-center mx-auto md:max-w-7xl space-y-4 md:space-y-0 hover:shadow-2xl transition-shadow duration-500 ease-in-out">
        <div class="text-center md:text-left">
          <h2
            class="text-xl md:text-2xl font-bold text-gray-800 leading-snug hover:text-red-600 transition-colors duration-500 ease-in-out">
            Bisnis Aman, Hidup Tenang!
          </h2>
          <p class="text-gray-500 mt-2 text-sm md:text-base">
            Kebakaran bisa terjadi kapan saja – jangan ambil risiko! <br
            />Dengan RumahApi, perlindungan bisnis Anda ada di tangan para ahli.
          </p>
        </div>
        <a
          href="#"
          class="relative text-white bg-gradient-to-r from-red-600 to-red-700 hover:from-red-500 hover:to-red-600 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 shadow-md hover:shadow-xl transition-all duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-105 focus:outline-none dark:bg-blue-600 dark:hover:bg-blue-700 focus:ring-offset-2">
          <span class="relative z-10">Konsultasi Sekarang</span>
          <!-- Animate the hover background and create movement -->
          <span
            class="absolute inset-0 bg-red-600 opacity-0 transition-opacity duration-300 ease-in-out rounded-lg"
          ></span>
        </a>
      </div>
    </div>
  </div>

  <Footer />
</html>
